.quarto/
**/*.quarto_ipynb
.Rhistory
.RData
.DS_Store
README.html
README_files/
template/report.docx
template/report.quarto-rendered.docx
template/report_files/
docs
inst/doc
vignettes/*.html
vignettes/*.R
/doc/
/Meta/
